@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap");
* {
  margin: 0px;
  padding-bottom: 0px;
  box-sizing: border-box;
  font-family: Poppins;
}

.logo {
  float: left;
  padding-left: 18px;
}

.categories {
  padding: 50px 0;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.small-container {
  max-width: 1080px;
  margin: auto;
}

.col-3 {
  flex-basis: 60%;
  min-width: 500px;
  margin-bottom: 15px;
  border: none;
}

.title {
  text-align: center;
  margin: 0 auto 50px;
  position: relative;
  line-height: 60px;
  color: gray;
}

.title::after {
  content: "";
  background: rgb(233, 174, 64);
  width: 70px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.col-3 p {
  text-align: center;
}

.categories .col-3 {
  padding: 20px;
  border-radius: 10px;
}

.mainAbout {
  background: url("/images/car-rental-wallpaper.jpg");
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: left;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}

.main {
  text-align: center;
}

.sign {
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 40px;
  color: rgb(155, 151, 151);
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.team {
  padding-top: 60px;
}

.col-4 h4 {
  text-align: center;
}

.col-4 img {
  width: 100%;
}

.col-4 p {
  font-size: 15px;
}

.col-4:hover {
  transform: translateY(-5px);
  transition: all 0.5s ease;
}

.testimonial {
  padding-top: 50px;
  padding-bottom: 80px;
}

.testimonial .col-7 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-7 img {
  width: 70px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-7:hover {
  transform: translateY(-10px);
}

.fa.fa-quote-left {
  font-size: 34px;
  color: rgb(233, 174, 64);
}

.col-7 {
  flex-basis: 30%;
  min-width: 300px;
  margin-bottom: 30px;
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.testimonial .col-7 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.col-7 p {
  color: black;
  padding: 5px;
}

.testimonial .col-4 {
  margin-top: 10px;
}

.topnav {
  margin: 0px;
}

.topnav .logo {
  padding-top: 10px;
}

.topnav a {
  padding-top: 5px;
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .active {
  color: rgb(233, 174, 64);
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: -14px;
  border-radius: 7px 7px 7px;
  background-color: rgba(219, 219, 219, 0.7);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropbtn {
  background-color: #555;
  color: white;
  transition: 1s;
}

.topnav a:hover,
.dropdown:hover {
  color: rgb(233, 174, 64);
  transition: 0.5s;
}

.dropbtn:hover {
  color: rgb(233, 174, 64);
}

.topnav .dropdown-content a:hover {
  border-top: none;
  transition: 0.5s;
}

.dropdown-content a:hover {
  background-color: rgb(36, 34, 34);
  border-radius: 7px 7px 7px;
  color: rgb(233, 174, 64);
  transition: 0.5s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer .container {
  max-width: 1170px;
  margin: auto;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
}

footer ul {
  list-style-type: none;
  margin-left: -35px;
}

footer a {
  text-decoration: none;
  color: white;
}

.footer {
  background-color: rgb(36, 34, 34);
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col li {
  margin: 0;
}

.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500px;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(233, 174, 64);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 300px;
  transition: all 0.5s ease;
  display: block;
  padding-bottom: 2px;
}

.footer-col ul li a:hover {
  color: rgb(184, 180, 180);
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
  margin-bottom: 70px;
}

.footer-col .social-links a:hover {
  background: white;
  color: rgb(94, 91, 91);
}

@media screen and (max-width: 600px) {
  .topnav {
    background-color: black;
  }

  .topnav a {
    color: white;
  }

  .dropdown .dropbtn {
    color: white;
  }

  .dropdown .dropbtn:hover {
    color: rgb(233, 174, 64);
  }

  .topnav a:not(:last-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    color: rgb(233, 174, 64);
  }

  .main select,
  button {
    display: none;
  }

  .topnav a:hover,
  .dropbtn:hover {
    border-top: none;
  }

  div .logo {
    display: none;
  }

  .grid {
    display: none;
  }

  .slider {
    display: none;
  }

  .main {
    margin-bottom: 200px;
  }

  .main p {
    width: 50%;
  }

  .footer-col .social-links a {
    margin-bottom: 5px;
  }

  .col-3 {
    flex-basis: 60%;
    min-width: 500px;
    margin-bottom: 15px;
    border: none;
  }

  .col-3 p {
    float: right;
    font-size: 14px;
  }

  .
  {
    text-align: center;
    padding-left: 200px;
  }

  .title::after {
    content: "";
    background: rgb(233, 174, 64);
    width: 70px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 70%;
    transform: translateX(-50%);
  }

  .col-3 p {
    text-align: center;
  }

  .categories .col-3 {
    padding: 20px;
    border-radius: 10px;
  }

  .sign {
    font-size: 35px;
  }

  .team-title {
    text-align: center;
    padding-left: 5px;
  }

  .team-title::after {
    content: "";
    background: rgb(233, 174, 64);
    width: 70px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  div .logo {
    display: none;
  }

  .grid {
    display: none;
  }
}
