MONGO_DATABASE_URI=

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PHONE=
ADMIN_PASSWORD=

SMS_APP_ID=
SMS_APP_SECRET=
SMS_SENDERNAME=

APP_NAME=Rent-A-car
APP_SECRET=rent-a-car-whatever-key-is

PAYMENT_CALLBACK=
MAIL_TIMEOUT=
PAYMENT_SECRET=